<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css">
<body>


        <header class="w3-container w3-cyan">
          <h1>My Manager Details</h1>
        </header>
          
        <div class="w3-container">
            <label class="w3-text-theme w3-large">Employee ID:</label><label class="w3-text-theme w3-large">{{mgrdetails.empId}}</label><br>
            <label class="w3-text-theme w3-large">Full Name:</label><label class="w3-text-theme w3-large">{{mgrdetails.empName}}</label><br>
            <label class="w3-text-theme w3-large">Email Address:</label><label class="w3-text-theme w3-large">{{mgrdetails.empEmailId}}</label><br>
            <label class="w3-text-theme w3-large">Mobile Number:</label><label class="w3-text-theme w3-large">{{mgrdetails.empMobNo}}</label><br>
            <p><br><br><br><br><br></p>
        </div>      

</body>
</html>
