/* .highlight tr.highlight td {
    background-color:rgb(17, 14, 231) !important;
    color: #F1E3E3;
  } */
  button {
    size: 50px;
    background-color:teal;
    color:#FFFFFF;
    font-size: 16px;
    height: 50px;
    width: 140px;
  }
